@use "./variables" as vars;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Mono:wght@400;600&display=swap");

:root {
    --font-sans: "Roboto", system-ui, -apple-system, "Segoe UI", Arial,
        sans-serif;
    --font-mono: "Roboto Mono", ui-monospace, SFMono-Regular, Menlo, Consolas,
        monospace;
}

body {
    margin: 0px;

    * {
        color: vars.$white;
        font-family: var(--font-sans);
        font-size: 1.01em;
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    button,
    .button,
    a {
        font-family: var(--font-mono);
    }
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#site-container {
    background-color: vars.$light-grey;
    position: relative;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    text-align: center;
}

main {
    max-width: 880px;
    margin: auto;
}

button {
    padding: 16px 16px;
    border: none;
    border-radius: 4px;
    height: 48px;
    margin: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    :hover {
        cursor: pointer;
    }

    &.primary {
        background-color: vars.$main-blue;
    }

    &.secondary {
        background-color: vars.$dark-grey;
        border: 2px solid vars.$light-blue;
    }
}
