body {
	font-size: 1em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0px;
	line-height: 1.42;
}

header {
	margin: auto;
	img { margin: auto; }
}

a {
	text-decoration: underline;
	&:hover { text-decoration: none; }
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

h2 {
	text-align: center;
	font-weight: 500;
	font-size: 2.75em;
	margin: 0px;
	margin-bottom: 24px;
	line-height: 1;
}
h3 {
	margin: 0px;
	margin-bottom: 12px;
	font-size: 1.5em;
	font-weight: 500;
}
h5 {
	margin: 0px 0px 8px 0px;
	font-weight: 500;
	font-size: 1em;
}

.languages-technologies {
	font-style: italic;
	font-size: .9em;
}
section { margin-bottom: 26px; }
#intro { text-align: center; }
img.code-tutor { max-height: 300px; }
#lucidity h5 { font-style: italic; }
footer { text-align: center; }
footer p { margin: 4px 0px 0px 0px; }

.contents section {
	display: flex;
	flex-direction: column;
	align-items: center;
	a:hover {
		cursor: pointer;
	}
}

.go-to-top {
	position: fixed;
	bottom: 0px;
	right: 0px;
	margin: 8px;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	background-color: #525252c2;
	transition: opacity 200ms;
	color: #c4c4c4;
	display: flex;
	justify-content: center;

	&:hover { cursor: pointer; }
	div {
		font-size: 45px;
		position: relative;
		top: 1px;
	}
}

#ntk {
	p, ul { margin: 0px; }
	section { margin-bottom: 20px; }
}

@media(max-width: 768px) {
    img.code-tutor { height: 225px; margin: 10px; }
}

@media(max-width: 992px) {
	#doom-pet iframe {
		float: none;
		display: block;
		margin: auto;
		margin-bottom: 20px;
		max-width: 100%;
	}
}
