$light-grey: #2c3b43;
$dark-grey: #212a2d;
$main-blue: #176287;
$light-blue: #428db3;
$white: #e0eaed;
$yellow: #cb9b21;

body {
    margin: 0px;

    * {
        color: $white;
        font-family: sans-serif; /* TODO: update this */
        font-size: 1.01em;
        box-sizing: border-box;
    }
}

#site-container {
    background-color: $light-grey;
    position: relative;
    min-height: 100vh;

    header {
        height: 65px;
        background-color: $main-blue;
        display: flex;
        justify-content: center;
        align-items: center;

        .link-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 1000px;
            .secondary-links * {
                margin: 0px 12px;
            }
        }
    }

    .header-graphic-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 3rem;

        .header-graphic {
            width: 470px;
        }
    }

    main {
        max-width: 880px;
        margin: auto;

        .filters {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 1.5rem;

            .filter {
                padding: 20px 10px;
                border: 3px solid $light-blue;
                border-radius: 8px;
                width: 30%;
                text-align: center;
                margin: 10px 12px;
                &.selected {
                    border-color: $main-blue;
                    background-color: $main-blue;
                }
            }
        }
    }

    .project-notecard {
        background-color: $dark-grey;
        padding: 2rem 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        h2 {
            font-size: 2em;
            margin: 0px;
            text-align: center;
        }
        .main-content {
            display: flex;
            margin: 1.25rem 0rem;
            .summary-and-technologies {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 1.5rem;
                text-align: center;
            }

            .technologies {
                display: flex;

                * {
                    margin: 16px 8px;
                    height: 32px;
                }
            }
        }
        .bottom-buttons {
            display: flex;
            margin-top: 8px;
            button {
                padding: 16px 16px;
                border: none;
                border-radius: 4px;
                height: 48px;
                width: 170px;
                margin: 0px 8px;
                display: flex;
                align-items: center;
                justify-content: center;

                :hover {
                    cursor: pointer;
                }
            }
            svg {
                height: 20px;
                margin-left: 8px;
            }

            .primary {
                background-color: $main-blue;
                a {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .secondary {
                background-color: $dark-grey;
                border: 2px solid $light-blue;
            }
        }
    }

    footer {
        height: 100px;
        width: 100%;
        background-color: $main-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        // position: absolute;
        // bottom: 0%;
        margin-top: 4rem;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .icon {
                margin-bottom: 12px;
            }
        }
    }

    .contact-info .icon {
        height: 32px;
        fill: $white;
        margin: 0px 8px;
    }
}
