// light grey: #2C3B43
// dark grey: #212A2D
// main blue: #176287
// white: #E0EAED
// yellow: #CB9B21

$light-grey: #2c3b43;
$dark-grey: #4e465c;
$main-blue: #176287;
$light-blue: #428db3;
$white: #e0eaed;
$yellow: #cb9b21;

body {
    margin: 0px;

    * {
        color: $white;
        font-family: sans-serif; /* TODO: update this */
        box-sizing: border-box;
    }
}

#site-container {
    background-color: $light-grey;
    position: relative;
    min-height: 100vh;

    header {
        height: 65px;
        background-color: $main-blue;
        display: flex;
        justify-content: center;
        align-items: center;

        .link-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 1000px;
            .secondary-links * {
                margin: 0px 12px;
            }
        }
    }

    .header-graphic-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 3rem;
    }

    main {
        max-width: 880px;
        margin: auto;

        .filters {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1.5rem;
            .filter {
                padding: 10px 10px;
                border: 3px solid $light-blue;
                border-radius: 8px;
                width: 30%;
                text-align: center;
                margin: 8px;
                &.selected {
                    border-color: $main-blue;
                    background-color: $main-blue;
                }
            }
        }
    }

    footer {
        height: 100px;
        width: 100%;
        background-color: $main-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        // position: absolute;
        // bottom: 0%;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .icon {
                margin-bottom: 12px;
            }
        }
    }

    .contact-info .icon {
        height: 32px;
        fill: $white;
        margin: 0px 8px;
    }
}
