.project {
	.project-content {
		p, ul { margin: 0px; }
		section { margin-bottom: 20px; }
		section section { margin-bottom: 16px; }
	}

	div.tagline {
		text-align: center;
		font-weight: 500;
		font-size: 0.45em;
		margin-top: 4px;
	}

	.preview {
		float: right;
		margin-left: 12px;
		margin-bottom: 12px;
		max-width: 500px;
	}
}

@media(max-width: 768px) {
	.project .preview {
		display: flex;
		justify-content: center;
		max-width: 100%;
		float: none;
		margin-bottom: 20px;
	}
}