body {
	font-size: 1em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0px;
	line-height: 1.42;
}
header { margin: auto; }
header img { margin: auto; }
a { text-decoration: underline; }
a:hover { text-decoration: none; }

.img-responsive {
	max-width: 100%;
	height: auto;
}
.color0, .color0 a {
	background-color: #8B7B86;
	color: #190D25;
}
.color0 a:hover { color: #4e455c; }

.color1, .color1 a {
	background-color: #190D25;
	color: #F3EBD6;
}
.color1 a:hover { color: #c8bfa7; }

.color2, .color2 a {
	background-color: #F3EBD6;
	color: #4E465C;
}
.color2 a:hover { color: #7f6e91; }

h2 {
	text-align: center;
	font-weight: 500;
	font-size: 2.75em;
	margin: 0px;
	margin-bottom: 4px;
	line-height: 1;
}
h3 {
	margin: 0px;
	margin-bottom: 12px;
	font-size: 1.5em;
	font-weight: 500;
}
h5 {
	margin: 0px 0px 8px 0px;
	font-weight: 500;
	font-size: 1em;
}

span.tagline {
	display: block;
	text-align: center;
	font-weight: 500;
	font-size: 1.2em;
}
section { margin-bottom: 26px; }
.tile-content {
	max-width: 860px;
	margin: auto;
}
.tile { padding: 2rem; }
#intro { text-align: center; }

.project-content {
	margin-top: 24px;
}
.project-content p, .project-content ul {
	margin: 0px;
}
.project-content section {
	margin-bottom: 20px;
}
.project-content section section {
	margin-bottom: 16px;
}

img.code-tutor, img.fireflies { max-height: 300px; }

#HNFE img {
	max-width: 500px;
	float: right;
	margin-left: 12px;
	margin-bottom: 12px;
}

#forty96 img {
	float: right;
	max-width: 400px;
	margin-left: 12px;
	margin-bottom: 12px;
}

#doom-pet iframe {
	float: right;
	margin-left: 30px;
}

#lucidity h5 { font-style: italic; }

footer { text-align: center; }
footer p { margin: 4px 0px 0px 0px; }

@media(max-width: 768px) {
	#forty96 img {
		max-width: 100%;
		float: none;
		margin: auto;
		display: block;
		margin-bottom: 20px;
	}

	#HNFE img {
		display: block;
		max-width: 100%;
		float: none;
		margin: auto;
		margin-bottom: 20px;
    }

    img.code-tutor, img.fireflies { height: 225px; margin: 10px; }
}

@media(max-width: 992px) {
	#doom-pet iframe {
		float: none;
		display: block;
		margin: auto;
		margin-bottom: 20px;
		max-width: 100%;
	}
}

@media(min-width: 768px) {
	.tile-content { max-width: 775px; }
}
