header
{	
	/*background-image: url("../images/forest.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;*/
	text-align: center;
	padding: 50px;
	padding-bottom: 60px;
}

header h1
{
	font-size: 102px;
}

a
{
	text-decoration: underline;
}

.color0, .color0 a
{
	background-color: #8B7B86;
	color: #190D25;
}

.color1, .color1 a
{
	background-color: #190D25;
	color: #F3EBD6;
}

.color2, .color2 a
{
	background-color: #F3EBD6;
	color: #4E465C;
}

h2
{
	text-align: center;
	font-size: 54px;
}

h4
{
	text-align: center;
}

.container
{
	max-width: 860px;
}

.tile
{
	padding-bottom: 45px;
}

#forty96 img
{
	float: left;
	margin-right: 30px;
}

#doom-pet iframe
{
	float: right;
	margin-left: 30px;
}

#forty96 p a
{
	text-align: center;
}

#intro img
{
	max-height: 500px;
	float: right;
	margin-left: 30px;
	margin-bottom: 30px;
}

#intro
{
	text-align: center;
}

footer
{
	padding: 20px;
	padding-top: 30px;
}

footer span
{
	float: right;
}

@media(max-width: 768px)
{
	header h1
	{
		font-size: 70px;
	}

	h2
	{
		font-size: 52px;
	}

	#forty96 img
	{
		float: none;
		margin: auto;
		margin-bottom: 30px;
	}
}

@media(max-width: 992px)
{
	#doom-pet iframe
	{
		float: none;
		display: block;
		margin: auto;
		margin-bottom: 30px;
	}
}

@media(max-width: 635px)
{
	#doom-pet iframe
	{
		width: 100%;
	}
}